GEMINI_API_KEY=AIzaSyYourGeminiApiKeyHere
GITHUB_TOKEN=ghp_YourGitHubPersonalAccessTokenHere
GITHUB_REPOSITORY=your-github-username/your-repository-name
SLACK_BOT_TOKEN=xoxb-YourSlackBotTokenHere
SLACK_CHANNEL_ID=C12345678
TELEGRAM_BOT_TOKEN=789123456:AAFdYourTelegramBotToken
TELEGRAM_CHAT_ID=123456789
PORT=8000
QA_ENVIRONMENT=true
